.slick-slide {
    padding: 4px;
  }
  
.health-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 0;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(15, 52, 96, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 160px;
  }
  
  .health-product-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: none;
    z-index: 0;
  }
  
  .health-product-card:hover {
    transform: translateY(-5px);
  }
  
.health-product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 18px;
  }
  
  .health-product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .health-product-details {
    display: none; /* Hide product details if only image is needed */
  }
  
  .health-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0f3460;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 50px;
    color: #fff;
  }
  
  .health-product-like {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0f3460;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .health-product-card:hover .health-product-like {
    opacity: 1;
  }
  
  .health-product-like ion-icon {
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
  }

  /* Responsive adjustments */
@media (max-width: 768px) {
  .slick-slide {
    padding: 4px;
  }
  
  .health-product-image-container {
    height: 150px;
  }
}

  