.cart-summary {
    border: 2px solid #b6f3fb; /* Blue border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Space inside the box */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    background-color: #fff; /* White background */
    margin-top: 20px; /* Space from the top */
  }
  
  .cart-summary h4 {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .cart-summary ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .cart-summary ul li {
    margin-bottom: 10px;
  }

  /* cartSummary.css */
.custom-modal .modal-dialog {
    max-width: 800px; /* Adjust the width as needed */
  }
  
  .form-control {
    font-weight: bold; /* Make text bold */
    margin-bottom: 15px; /* Add space after each field */
  }
  
  .form-group {
    margin-bottom: 20px; /* Add space between form groups */
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group .form-control {
    flex: 1;
  }
  
  .input-group .btn {
    margin-left: 10px; /* Add space between input and button */
  }
  
  .modal-body {
    overflow-y: auto;
  }
  
  .confirm-button {
    background-color: #0F3460; /* Blue background */
    border: none; /* Remove default border */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  }
  
  .confirm-button:hover {
    background-color: #0F3460; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  .confirm-button:active {
    background-color: #0F3460; /* Even darker blue on click */
    transform: translateY(0); /* Remove lift on click */
  }
  
  